.App-container {
  font-family: Arial, sans-serif;
  padding-bottom: 20px;
  text-align: center;
  height: 800px;
}
.App-container-nav-home,.App-container-nav-about{
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.App-container-nav{
  text-align: end;
  font-size: 15px;
  font-weight: bolder;

  margin: 10px 10px 0 10px;

}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #cccccc;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}